#camera
{
    border-color: black;
    border-style: dashed;

}

h3
{
    color:rgba(245, 245, 220, 0.644);
    width: 80%;
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: 500;
}

body
{
    background-color: rgb(235, 196, 251);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslateblue;

}